@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');




.main-box{
    background: linear-gradient(0deg, rgba(41, 45, 50, 0.66), rgba(41, 45, 50, 0.66)),
    linear-gradient(90deg, #2D2732 0%, #383D56 100%),
    linear-gradient(0deg, rgba(162, 89, 206, 0.66), rgba(162, 89, 206, 0.66));
   
    padding: 0px 9px 10px 80px;
  }
  
  
  
  .main .form-box .form .input{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .main .form-box .form .input input{
    width: 100%;
    height: 33px;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 17.6px;
    font-weight: 300;
    font-family: 'poppins', sans-serif;
  }

  .main .form-box .form .input select{
    width: 103%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid black;
    background: none;
  }
  
  .main .form-box button{
    width: 90px;
    height: 30px;
    border-radius: 0;
    border: none;
    background: rgba(46, 42, 55, 1);
    margin-top: 20px;
    margin-left: 69%;
    color: #ffffff;
  }
  
  .main .form-box{
    background: #ffffff;
    max-width: 60%;
    height: 100%;
    padding: 60px 60px;
    border-radius: 10px;
  }
  .main{
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    gap: 70px;
  }
  
  .main .text{
    padding: 90px 10px;
    color: #ffffff;
  }
  
  .main .text h2{
    width: 250px;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 29px;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }
  
  .max .text h2,span{
    color: yellow;
  }
  
  .main .text p{
    width: 210px;
    font-family: 300;
    font-size: 15px;
    margin-top: -15px;
    margin-bottom: 9px;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
  }
  .main .text a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins' sans-serif;
    font-weight: 500;
  }
  
  .main .text button{ 
    display: flex;
    flex-direction: column;
    width: 150px;
    border-radius: none;
    border: none;
    height: 30px;
    font-size: 15px;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Poppins' sans-serif;
    font-weight: 500;
    
  }
  
  .container{
    padding: 25px 200px 0px 200px;
  }

  .main .text h2.con{
    margin-top: -20px;
    width: 270px;
  }

  option{
      background: black;
      color: #ffffff;
  }
  .error {
    color: red;
    font-size: 0.8em;
  }



  @media screen and (max-width: 810px) {
  .main{
    flex-direction: column;
    padding: 70px 60px;

  }

  .main .form-box{
    max-width: 100%;
    padding: 70px 90px;
    margin-left: -28px;
    margin-top: -80px;
  
  }

  .main .form-box .form .input input{
    width: 120%;
  }

  .main .form-box .form .input {
    margin-left: -60px;
  }

  .main .form-box .form .input select{
    width: 125%;
  }

  .main .text{
    padding: 0px 0px 90px 80px;

  }

  
}

@media screen and (max-width: 430px){
  .main{
    flex-direction: column;
    
  }

  .container{
    padding: 30px 20px 0px 20px;
  }

  .main .form-box{
    max-width: 130%;
    padding: 70px 170px;
    margin-left: -120px;
    margin-top: -80px;
  
  }

  .main .form-box .form .input input{
    width: 250%;
  }

  .main .form-box .form .input {
    margin-left: -120px;
  }

  .main .form-box .form .input select{
    width: 245%;
  }

  .main .text{
    
    padding: 0px 0px 80px 0px;
    margin-left: -40px;
  }


}

