.container{
    background: url(../../../Assets/Background-image.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 1887px;
    max-height: 913px;
}