.top_text_layout{
    width: 80%;
    max-width: 972px;
    margin: 5rem auto 3rem auto;
    display: block;
}
.top_text{
    width: fit-content;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-weight: 500;
}
.bottom_text_layout{
    width: 80%;
    max-width: 844px;
    margin: -1rem auto;
    display: block;
    text-align: justify;
}
.application_section{
    width: 50%;
    max-width: 500px;
    display: block;
    margin: 2rem auto;
    white-space: nowrap;
}
.application_section button{
    background-color: #A259CEC9;
    padding: 5px 40px;
    border: none;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;

}
.meet_mentor_text{
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    color: black !important;
}
@media (max-width: 768px) {
    .top_text_layout{
     width: 80%;
     max-width: 277px;
     margin: 2rem auto;
    }
    .top_text{
        font-size: 13px;
        line-height: 16px;

    }
    .application_section{
        max-width: 200px;
    }
    .application_section button{
        background-color: #A259CEC9;
    padding: 3px 20px;
    font-size: 10px;
    }
    .meet_mentor_text{
        font-size: 10px;
    }
}